@model PagingInfo

<tfoot>
    <tr>
        <td colspan="5">
            Страница:
            <div class="btn-group pull-right m-1">
                @{
                    for (int e = 1; e <= Model.TotalPages; e++)
                    {
                        if (e == Model.CurrentPage)
                        {
                            <a class="btn-primary btn btn-sm disabled" asp-route-page="@e">@e</a>
                        }
                        else
                        {
                            <a class="btn-outline-primary btn btn-sm" asp-route-page="@e">@e</a>
                        }
                    }
                }
            </div>
        </td>
    </tr>
</tfoot>