@model IEnumerable<(Article, DateTime)>

@{
    ViewData["Title"] = "Закладки";
    IEnumerable<DateTime> bookmarksAddedAt = ViewBag.bookmarksAddedAt;
}

@if (!Model.Any())
{
    <div>Закладок нет</div>
}
else
{
    <div class="row">
        @foreach (var (article, bookmarkAddedAt) in Model)
        {
            <div class="col-md-4 mb-4">
                <span class="text-muted small">Закладка от @bookmarkAddedAt.ToString("f")</span>
                <partial name="_ArticleCard" model="@article" />
            </div>
        }
    </div>
}