@model IEnumerable<MusicBlogs.Models.Article>

@{
    ViewData["Title"] = "Главная страница";
}

<partial name="_ArticleSort" />

<div class="articles d-flex flex-column gap-3 mb-3">
    @foreach (Article article in Model)
    {
        <partial name="_ArticleExcerpt" model="@article" />
    }
</div>

<partial name="_Pagination" model="@ViewBag.PageInfo" />