@model IEnumerable<MusicBlogs.Models.Article>

@{
    ViewData["Title"] = "Последние статьи";
}

<div class="articles">
    @foreach (Article article in Model)
    {
        <partial name="_ArticleExcerpt" model="@article" />
    }
</div>