@{
    ViewData["Title"] = "Создание статьи";
}

<link rel="stylesheet" href="~/lib/easymde/dist/easymde.min.css">
<script src="~/lib/easymde/dist/easymde.min.js"></script>

<div class="d-flex justify-content-end gap-3">
    <button type="submit" form="editForm" asp-action="PublishNotExisting" class="btn btn-secondary">Опубликовать</button>
    <button type="submit" form="editForm" class="btn btn-primary">Сохранить черновик</button>
</div>

<form method="post" id="editForm">
    <div class="mb-2">
        <label for="title">Заголовок</label>
        <span style="color: red" data-bs-toggle="tooltip" data-bs-title="Обязательное для заполнения поле">*</span>
        <input type="text" class="form-control" name="title" placeholder="Как будет называться ваша статья?" required />
    </div>
    <div class="mb-2">
        <label for="tags">Теги</label>
        <input type="text" class="form-control" name="tags" placeholder="Теги, разделенные запятой" />
    </div>
    <div class="mb-2">
        <label for="excerpt">Вырезка из статьи</label>
        <textarea type="text" class="form-control" name="excerpt" placeholder="Вырезка"></textarea>
    </div>
    <div class="mb-2">
        <label for="previewImg">Изображение-превью для статьи</label>
        <input type="text" class="form-control" name="previewImg" placeholder="URL изображения" />
    </div>
    <label for="text">Содержание</label>
    <span style="color: red" data-bs-toggle="tooltip" data-bs-title="Обязательное для заполнения поле">*</span>
    <textarea name="text" id="contentArea"></textarea>
</form>

@section Scripts
{
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
    const easyMDE = new EasyMDE({
        spellChecker: false,
        element: document.getElementById('contentArea')
    });

    // Не отправлять форму, если в содержании статьи либо
    // ничего не введено, либо введены пробельные символы
    document.getElementById('editForm').addEventListener('submit', function(e) {
        const text = easyMDE.value();
        const char_count = text.trim().length;

        if (char_count == 0) {
            alert("Содержание статьи должно быть задано");
            e.preventDefault();
        }
    });
</script>
}