@{
    ViewData["Title"] = "Создание статьи";
}

<link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>

<div class="d-flex justify-content-end gap-3">
    <button type="submit" form="editForm" asp-action="Publish" class="btn btn-secondary">Опубликовать</button>
    <button type="submit" form="editForm" class="btn btn-primary">Сохранить</button>
</div>

<form method="post" id="editForm">
    <label for="title" class="h-6">Заголовок</label>
    <span style="color: red" data-bs-toggle="tooltip" data-bs-title="Обязательное для заполнения поле">*</span>
    <input type="text" class="form-control" name="title" placeholder="Как будет называться ваша статья?" />
    <label for="text" class="h-6">Содержание</label>
    <span style="color: red" data-bs-toggle="tooltip" data-bs-title="Обязательное для заполнения поле">*</span>
    <textarea name="text"></textarea>
    <script>
        const easyMDE = new EasyMDE({ spellChecker: false });
    </script>
</form>

@section Scripts
{
<script>const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))</script>
}