@model IEnumerable<DraftArticle>

@inject MusicBlogs.Services.IUserData _users;

@{
    ViewData["title"] = "Черновики";

    string username = User.Identity.Name;
    bool isModerator = _users.Get(username).is_moderator;
}

<nav class="navbar navbar-expand rounded">
    <div class="navbar-collapse justify-content-md-center">
        <ul class="navbar-nav gap-3">
            <li class="nav-item">
                <a class="nav-link active" asp-action="Index">Неопубликованные</a>
            </li>
            @if (isModerator)
            {
                <li class="nav-item">
                    <a class="nav-link" asp-action="ModerateArticles">Требуют проверки</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" asp-action="MyPendingModeration">Ожидают публикации</a>
                </li>
            }
        </ul>
    </div>
</nav>

@if (!Model.Any())
{
    <div>Черновиков нет</div>
}

else
{
    <div class="row">
    @foreach (DraftArticle draft in Model)
    {
        <div class="col-md-4">
            <partial name="_DraftCard" model="@draft" />
        </div>
    }
    </div>
}