@model IEnumerable<DraftArticle>

@{
    ViewData["title"] = "Модерация статей";
}

<nav class="navbar navbar-expand rounded">
    <div class="navbar-collapse justify-content-md-center">
        <ul class="navbar-nav gap-3">
            <li class="nav-item">
                <a class="nav-link" asp-action="Index">Неопубликованные</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" asp-action="ModerateArticles">Требуют проверки</a>
            </li>
        </ul>
    </div>
</nav>

@if (!Model.Any())
{
    <div>Нет статей, отправленных на модерацию</div>
}

else
{
    <div class="row">
    @foreach (DraftArticle draft in Model)
    {
        <div class="col-md-4">
            <partial name="_DraftCard" model="@draft" />
        </div>
    }
    </div>
}