:root {
    --primary-color: #4361ee;
    --secondary-color: #3f37c9;
    --accent-color: #4895ef;
    --dark-color: #1b263b;
    --light-color: #f8f9fa;
}

/* Основные стили карточек */
.article-card {
    margin-bottom: 24px;
    transition: all 0.3s ease;
/*    border: none;*/
/*    border-radius: 8px;*/
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    background: white;
    height: 100%;
}

.article-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

/* Заголовки колонок */
.column-header {
    position: relative;
    padding-bottom: 12px;
    margin-bottom: 24px;
    font-weight: 600;
}

.column-header::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 3px;
    background: linear-gradient(90deg, var(--primary-color), var(--accent-color));
    border-radius: 3px;
}

/* Изображения в карточках */
.preview-img {
    height: 180px;
    object-fit: cover;
}

/* Заголовок статьи */
.card-title {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--dark-color);
}

/* Текст статьи */
.card-text {
    font-size: 0.9rem;
    margin-bottom: 1rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Количество строк текста */
.article-card:has(img) .card-text {
    -webkit-line-clamp: 3; /* С изображением - 3 строки */
}

.article-card:not(:has(img)) .card-text {
    -webkit-line-clamp: 5; /* Без изображения - 5 строк */
}

/* Мета-информация */
.article-meta {
    font-size: 0.8rem;
    color: #6c757d;
    display: flex;
}

/* Адаптация для мобильных */
@media (max-width: 768px) {
    .preview-img {
        height: 150px;
    }

    .article-card:not(:has(img)) .card-text {
        -webkit-line-clamp: 4; /* На мобильных - 4 строки */
    }

    .card-body {
        padding: 1.25rem;
    }
}

/* Стили для сайдбара */
.sidebar {
    position: sticky;
    top: 20px;
    background: white;
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.sidebar .nav-link {
    color: rgba(0,0,0, 0.65);
}

.sidebar .nav-link:hover, .sidebar .nav-link.active {
    color: rgba(0,0,0, 0.8);
    background-color: rgba(67, 97, 238, 0.1);
}


.nav-link {
    border-radius: 8px;
    padding: 8px 12px;
    margin-bottom: 4px;
    transition: all 0.2s ease;
}

.tag-btn {
    border-radius: 20px;
    padding: 4px 12px;
    font-size: 0.8rem;
    margin-right: 8px;
    margin-bottom: 8px;
    transition: all 0.2s ease;
}

.tag-btn:hover {
    transform: translateY(-2px);
}